html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../background/desk.jpg');
    /* image from https://wallpapers.com/wood-table-background */
    margin: 0;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 800px;
    background-color: black;
}

.camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#cameraDot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    margin-top: 5px;

}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:1000px; */
    flex-direction: column;

}

.calculator-box {
    /* max-width:500px; */
    width: 390px;
    height: 780px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: inset 4px 0px 0px 0px rgb(231, 231, 231), inset -4px 0px 0px 0px rgb(231, 231, 231);
}

.screen-container {
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
    /* padding:50px; */
    /* background-color:brown; */

}

.screen-box {
    background-color: white;
    /* padding-top:60px; */
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: space-evenly;
    font-size: 50px;
}

#line {
    width: 95%;
}

.num-op-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.numbers {
    margin-left: 20px;
}

.numbers button {
    /* display:flex; */
    margin: 2px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    font-weight:bold;

}

.clear-button button {
    color:red;
}

.operations button {
    margin: 2px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    font-weight:bold;
}

.numbers button:hover, .operations button:hover, .delete-container button:hover {
    background-color:rgb(177, 177, 177);
}

#clearAll {
    border-radius: 50%;
    height: 80px;
    width: 80px;

}

.delete-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.delete-container button{
    border:none;
    background-color:transparent;
    font-size:20px;
}

div #\= {
    background-color: rgb(255, 255, 150);
}
